/* html,
body,
.App,
.App > div,
#root,
.loginContianer {
  height: 100%;
} */
.App-header {
  top: 0;
  min-height: 4rem;
  /* background-color: #000000; */
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
.lifestyleImg {
  background: linear-gradient(#97cdb4, #dde0a5);
  border-radius: 20px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  float: none;
  max-width: 96%;
}
.App-header .Logo {
  width: 8.125rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.lists {
  color: #3c3c3c;
  font-size: 0.75rem;
  line-height: 1.3em;
  letter-spacing: 0.01em;
  margin-top: 15px;
}
.navicon {
  font-size: 0.8rem;
  margin: 0px 23px;
}
.headings {
  font-family: enphase-visuelt-medium;
  font-size: 1rem !important;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 30px !important;
}

/* react-elastic-carousel */

.kdCslO {
  display: none !important;
}
.eWjCzc {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/* cartdropdown */
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  /* border-radius: 28px !important; */
  overflow-y: hidden !important;
}

/* Tooltip */
.css-ja5taz-MuiTooltip-tooltip {
  padding: 10px !important;
  margin-top: 11px;
  margin-left: 61px;
  background-color: rgb(182, 179, 179) !important;
  font-family: enphase-visuelt-medium !important;
  font-size: 0.875rem !important;
}

/* mobileview */
.css-10hburv-MuiTypography-root {
  color: #cecbcb !important;
  font-family: enphase-visuelt-regular, sans-serif !important;
  font-size: 16px !important;
}

/* MEDIA QUERY */
/* lifestyle  */
@media screen and (min-width: 1441px) and (max-width: 2000px) {
  .lifestyleImg {
    width: 100%;
    margin: 0 auto;
    float: none;
    max-width: 96%;
  }
}
