html, body, .App, .App>div, #root, .loginContianer {
  height: 100%
}
.App-header {
  min-height: 3rem;
  background-color: #3a3a3a;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
.App-header .Logo {
  width: 8.125rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}